body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  .box{
    width: 40vh;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 18px;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 240px;
    border-color: #2ecc71;
  }
  .box button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 16px;
  }
  .box button:hover{
    background: #2ecc71;
  }
  .alert-danger{
    color: red;
  }
  .box .link-page{
    color: white;
    font-size: 16px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: -60px;
  }

  .box .link-page .brand {
    color: rgb(234, 238, 12);
    padding-left: 10px;
  }
  