.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #272727;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  min-width: 500px;
}

.navbar .content .link-page .brand {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.navbar .content .link-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .content .link-page a {
  margin: 0 1rem;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}

.navbar .content .link-page a:hover {
  color: #009BFF;
}

.navbar .content .contact:hover {
  color: #009BFF;
}

.navbar .content .create-button {
  font-size: 16px;
  height: 30px;
  border: 2px solid #00F494;
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all ease-in-out 150ms;
  padding: 0 1rem;
  font-weight: bold;
}

.navbar .content .create-button:hover {
  color: #3498db;
  background-color: #00F494;
}

.navbar .content .create-button:focus {
  outline: none;
}
