.DashboardPage {

}
    .progress-board {
        width: 100%;
        align-items: center;
    }
    .progress {
    }
    .progress h1 {
        color: #d69293;
        font-size: 100px;
        text-shadow: 5px 5px 5px #a00d1e;
        text-align:center;
        align-items: center;
        float:center;
    }
    .progress h2 {
        padding-left: 150px;
        color: #689cc5;
        text-shadow: 2px 2px 5px #0300b1;
    }
    .progress h3 {
        text-align:right;
        align-items: right;
        float:center;
        padding-right: 150px;
        color: #689cc5;
        text-shadow: 2px 2px 5px #0300b1;
    }
    .parent {
        display: flex;
        flex-direction:row;
        background: rgb(192, 181, 181);
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
    }
    .parent .column {
        flex: 1 1 10px;
        padding: 4%;
        align-items: center;
    }
    .parent .column .card {
        width: 100%;
        min-width: 200px;
        min-height: 300px;
        text-align: center;
        cursor: pointer;
        background: white;
        align-items: center;
        text-shadow: 5px 5px 5px #eeb440;
    }
    #todo{
        background: url(https://raw.githubusercontent.com/Todona/todona_frontend/master/src/assets/images/todo.jpg) no-repeat 0 0%;
        background-size: cover;
        padding-bottom: height_of_image_in_px;
    }
    #done{
        background: url(https://raw.githubusercontent.com/Todona/todona_frontend/master/src/assets/images/done.png) no-repeat 0 0%;
        background-size: cover;
        padding-bottom: height_of_image_in_px;
    }
    .parent .column .card h1{
        font-size: 150px;
        color: #dd8437;
    }
    .parent .column .card h2{
        padding-top: 50px;
        font-size: 30px;
        color: #dd8437;
    }
    .parent .column .card img{
        width: 100%;
    }
    .parent .column .detail {
        width: 100%;
        min-width: 200px;
        text-align: center;
        cursor: pointer;
        background: #e4b8b9;
        align-items: center;
    }
    .parent .column .detail h3{
        padding: 10px 0px 10px 0px;
        color: #be5960;
        font-weight: 5px;
        font-size: 14px;
    }