.login{
    width: 40vh;
    padding: 50px 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .login h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .login input[type = "text"],.login input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 20px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 18px;
  }
  .login input[type = "text"]:focus,.login input[type = "password"]:focus{
    width: 360px;
    border-color: #2ecc71;
  }
  .login button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 16px;
  }
  .login button:hover{
    background: #2ecc71;
  }
  .alert-danger{
    color: red;
    text-align: right;
    padding-bottom: -20px;
  }
  .login .link-page{
    color: white;
    font-size: 16px;
    text-align: left;
    padding-top: 30px;
  }
  .login .link-page .brand {
    color: rgb(234, 238, 12);
    padding-left: 10px;
  }
  .login .form-group label{
    color: white;
    font-size: 16px;
    padding-right: 10px;
  }

  .login-header{
    width: 45vh;
    padding: 80px 0px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: white;
  }
  